{
  "env": {
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "cleanjs",    
    "plugin:flowtype/recommended"    
  ],
  "plugins": [
    "flowtype",
    "jest"
  ],
  "rules" : {
    "fp/no-nil": "warn",
    "semi": ["error", "never"]
  }
}