{
  "env": {
    "jest": true
  },
  "extends": [
    "airbnb",
    "cleanjs",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "rules" : {
    "fp/no-nil": "warn",
    "semi": ["error", "never"]
  }
}