{
  "env": {
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "cleanjs",    
    "plugin:flowtype/recommended",
    "plugin:jest/recommended"      
  ],
  "plugins": [
    "flowtype",
    "jest"
  ],
  "rules" : {
    "fp/no-nil": "warn",
    "no-confusing-arrow": ["warn", {"allowParens": false}],
    "no-mixed-operators": "warn",
    "semi": ["error", "never"]
  }
}