{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype",
    "immutable"
  ],
  "rules" : {
    "immutable/no-let": "error",
    "immutable/no-this": "error",
    "immutable/no-mutation": "error",
    "semi": ["error", "never"]
  }
}